<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- habilitamos el uso de anotaciones -->
	<context:annotation-config />

	<!-- declaramos bean "persona" -->
	<bean id="persona" class="com.bolsadeideas.ejemplos.Persona" />

	<!-- declaramos bean "direccionCampo" que será inyectado en persona, usando anotación 
		@Inject(JSR 330) con atributo, si se indica en la anotación @Qualifier" -->
	<bean id="direccionCampo" class="com.bolsadeideas.ejemplos.DireccionCampo" />
	
	<!-- declaramos bean "direccionCiudad" que será inyectado en persona, usando anotación 
		@Inject(JSR 330) con atributo, si se indica en la anotación @Qualifier" -->
	<bean id="direccionCiudad" class="com.bolsadeideas.ejemplos.DireccionCiudad" />

</beans>
