<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- habilitamos el uso de anotaciones, es opcional ya que component-scan lo hace implicitamente -->
    <context:annotation-config />
    
    <!-- autoscan de componentes, ya no es necesario declarar el bean "direccion" porque la clase "Direccion" está anotada con @Component  -->
    <context:component-scan base-package="com.bolsadeideas.ejemplos"/>
    
	<!-- declaramos bean "persona" -->
	<bean id="persona" class="com.bolsadeideas.ejemplos.Persona" />
</beans>
