<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans.xsd">
 
    <!-- por id, nombre y si no se define, genera un id por defecto -->
    <bean id="string1" class="java.lang.String" />
    <bean name="string2" class="java.lang.String"/>
    <!-- Por defecto se asigna el id "java.lang.String" para este bean -->
    <bean class="java.lang.String"/>
   
    <!-- creando alias usando atributo name -->
    <!-- Es decir, "nombre2","nombre3" y "nombre4" son alias para referirnos al bean con id "nombre1" -->
    <bean id="nombre1" name="nombre2,nombre3,nombre4" class="java.lang.String"/>
   
</beans>
